.App {
   margin: 0;
   padding: 0;
}
.App ul > li {
    list-style-type: none;
    display: inline-block;
    margin:  10px;
}
.App a {
    text-decoration: none;
    color: green;
}
.App a:active,
.App a:hover {
    color: darkmagenta;
   /* background: paleturquoise; */
}